In [97]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
#import seaborn as sns
#import re
#import numpy as np
#import matplotlib as mpl

# Fonts for plots
#mpl.rcParams['font.serif'] = 'Times New Roman'
#plt.rcParams['font.family'] = 'serif'

pd.set_option('display.max_columns', None)

# Path to data retrieval and storage
path = "C:/Users/kleinow/ownCloud/MA_Neuro"

In [98]:
cn_articles = pd.read_csv(path + "/cn_items_clean.csv") # For article IDs and titles, if needed for reassurance while cleaning
df_auth = pd.read_csv(path + "/cn_authors.csv")
df_auth_aff = pd.read_csv(path + "/cn_authors_affil.csv")


df_auth_aff.head()
#df_auth.head()

,item_id,author_seq_nr,aff_seq_nr,organization,wos_suborganization,vendor_org_id
0,WOS:000209165300094,1,1,"{""Univ Manchester""}","{""Neurosci & Psychiat Unit""}","{""University of Manchester""}"
1,WOS:000209165300094,2,2,"{""Univ Durham""}","{""Dept Psychol""}","{""Durham University""}"
2,WOS:000209204100004,1,1,"{""Griffith Univ""}","{""Inst Integrated & Intelligent Syst""}","{""Griffith University""}"
3,WOS:000209204100004,2,2,"{""Griffith Univ""}","{""Sch Informat & Commun Technol""}","{""Griffith University""}"
4,WOS:000209529000006,1,1,"{""Tsinghua Univ""}","{""Dept Comp Sci & Technol"",""Tsinghua Natl Lab ...","{""Tsinghua University""}"

Merging of the two dataframes to combine information about authors and their affiliations

In [99]:
# Merge the dataframes
df_authors = pd.merge(df_auth, df_auth_aff, how='left', on=['item_id', 'author_seq_nr'])

df_authors.head()

,item_id,author_seq_nr,given_name,family_name,scopus_alt_script_name,email,corresponding,scopus_author_id,orcid,aff_seq_nr,organization,wos_suborganization,vendor_org_id
0,WOS:000075569500101,1,JL,Krichmar,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
1,WOS:000075569500101,2,GA,Ascoli,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN
2,WOS:000075569500101,3,JL,Olds,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN
3,WOS:000075569500101,4,L,Hunter,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN
4,WOS:000086279300008,1,J,Bickle,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN

Remove columns that do not hold any useful information for further analysis

In [100]:
df_authors = df_authors.drop(['scopus_alt_script_name', 'email', 'scopus_author_id', 'orcid'], axis=1) # Might want to add further columns to drop later, such as wos_suborganization	vendor_org_id
df_authors.head(10)

,item_id,author_seq_nr,given_name,family_name,corresponding,aff_seq_nr,organization,wos_suborganization,vendor_org_id
0,WOS:000075569500101,1,JL,Krichmar,True,NaN,NaN,NaN,NaN
1,WOS:000075569500101,2,GA,Ascoli,False,NaN,NaN,NaN,NaN
2,WOS:000075569500101,3,JL,Olds,False,NaN,NaN,NaN,NaN
3,WOS:000075569500101,4,L,Hunter,False,NaN,NaN,NaN,NaN
4,WOS:000086279300008,1,J,Bickle,True,NaN,NaN,NaN,NaN
5,WOS:000086279300008,2,C,Worley,False,NaN,NaN,NaN,NaN
6,WOS:000086279300008,3,M,Bernstein,False,NaN,NaN,NaN,NaN
7,WOS:000088763200026,1,S,Araujo,True,NaN,NaN,NaN,NaN
8,WOS:000169285300025,1,ME,Inchiosa,True,NaN,NaN,NaN,NaN
9,WOS:000169285300025,2,V,In,False,NaN,NaN,NaN,NaN

New columns are added to facilitate the cleaning process of the author names

In [101]:
# Convert the 'given_name' and 'family_name' to lowercase and remove spaces
df_authors['family_name_lower_wo_space'] = df_authors['family_name'].str.lower().str.replace(' ', '').str.replace('.', '').str.replace('-', '')  # Create a new column with lower case family names and remove ANY spaces from lower case family names

df_authors['given_name_lower_wo_space'] = df_authors['given_name'].str.lower().str.replace(' ', '').str.replace('.', '').str.replace('-', '') 


df_authors['name'] = df_authors['family_name_lower_wo_space'] + "_" + df_authors['given_name_lower_wo_space'] # Create a new column with the lower case family names and given names combined

df_authors.head(10)

C:\Users\kleinow\AppData\Local\Temp\ipykernel_16292\3945723719.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_authors['family_name_lower_wo_space'] = df_authors['family_name'].str.lower().str.replace(' ', '').str.replace('.', '').str.replace('-', '')  # Create a new column with lower case family names and remove ANY spaces from lower case family names
C:\Users\kleinow\AppData\Local\Temp\ipykernel_16292\3945723719.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_authors['given_name_lower_wo_space'] = df_authors['given_name'].str.lower().str.replace(' ', '').str.replace('.', '').str.replace('-', '')

,item_id,author_seq_nr,given_name,family_name,corresponding,aff_seq_nr,organization,wos_suborganization,vendor_org_id,family_name_lower_wo_space,given_name_lower_wo_space,name
0,WOS:000075569500101,1,JL,Krichmar,True,NaN,NaN,NaN,NaN,krichmar,jl,krichmar_jl
1,WOS:000075569500101,2,GA,Ascoli,False,NaN,NaN,NaN,NaN,ascoli,ga,ascoli_ga
2,WOS:000075569500101,3,JL,Olds,False,NaN,NaN,NaN,NaN,olds,jl,olds_jl
3,WOS:000075569500101,4,L,Hunter,False,NaN,NaN,NaN,NaN,hunter,l,hunter_l
4,WOS:000086279300008,1,J,Bickle,True,NaN,NaN,NaN,NaN,bickle,j,bickle_j
5,WOS:000086279300008,2,C,Worley,False,NaN,NaN,NaN,NaN,worley,c,worley_c
6,WOS:000086279300008,3,M,Bernstein,False,NaN,NaN,NaN,NaN,bernstein,m,bernstein_m
7,WOS:000088763200026,1,S,Araujo,True,NaN,NaN,NaN,NaN,araujo,s,araujo_s
8,WOS:000169285300025,1,ME,Inchiosa,True,NaN,NaN,NaN,NaN,inchiosa,me,inchiosa_me
9,WOS:000169285300025,2,V,In,False,NaN,NaN,NaN,NaN,in,v,in_v

In the next step, I am sorting the column name in alphabetical order to detect misspellings in the author names

In [102]:
# Sort df_authors by the 'name' column
df_authors_sorted = df_authors.sort_values(by='name')

pd.set_option('display.max_rows', 10) # For full display of rows

df_authors_sorted

,item_id,author_seq_nr,given_name,family_name,corresponding,aff_seq_nr,organization,wos_suborganization,vendor_org_id,family_name_lower_wo_space,given_name_lower_wo_space,name
5102,WOS:000248868800018,4,Henry D. I.,Abarbanel,False,NaN,NaN,NaN,NaN,abarbanel,henrydi,abarbanel_henrydi
4440,WOS:000300904900019,3,Abdolhossein,Abbassian,False,1.0,"{""Inst Res Fundamental Sci IPM""}","{""Sch Math""}",NaN,abbassian,abdolhossein,abbassian_abdolhossein
3827,WOS:000374840600024,5,David F.,Abbott,False,2.0,"{""Univ Melbourne""}","{""Florey Dept Neurosci & Mental Hlth""}","{""University of Melbourne""}",abbott,davidf,abbott_davidf
3828,WOS:000374840600024,5,David F.,Abbott,False,4.0,"{""Univ Melbourne""}","{""Dept Med""}","{""University of Melbourne""}",abbott,davidf,abbott_davidf
3826,WOS:000374840600024,5,David F.,Abbott,False,1.0,"{""Florey Inst Neurosci & Mental Hlth""}",NaN,"{""Florey Institute of Neuroscience & Mental He...",abbott,davidf,abbott_davidf
...,...,...,...,...,...,...,...,...,...,...,...,...
6564,WOS:000890970400010,1,NaN,Jia Xiao-Li,False,1.0,"{""Tianjin Univ""}","{""Acad Med Engn & Translat Med""}","{""Tianjin University""}",jiaxiaoli,NaN,NaN
6565,WOS:000890970400010,2,NaN,Hu Nan,False,1.0,"{""Tianjin Univ""}","{""Acad Med Engn & Translat Med""}","{""Tianjin University""}",hunan,NaN,NaN
6566,WOS:000890970400010,3,NaN,Wang You-Wei,False,1.0,"{""Tianjin Univ""}","{""Acad Med Engn & Translat Med""}","{""Tianjin University""}",wangyouwei,NaN,NaN
6567,WOS:000890970400010,4,NaN,Li Xiao-Hong,True,1.0,"{""Tianjin Univ""}","{""Acad Med Engn & Translat Med""}","{""Tianjin University""}",lixiaohong,NaN,NaN
6727,WOS:000294241800004,1,NaN,Liu Li,True,NaN,NaN,NaN,NaN,liuli,NaN,NaN

In [103]:
# Remove duplicate full names by considering both 'given_name_lower_wo_space' and 'family_name_lower_wo_space'
unique_authors = df_authors.drop_duplicates(subset=['given_name_lower_wo_space', 'family_name_lower_wo_space'])

# Group by 'family_name_lower_wo_space' and identify groups where 'given_name_lower_wo_space' has more than one unique entry
grouped = unique_authors.groupby('family_name_lower_wo_space').filter(lambda x: x['given_name_lower_wo_space'].nunique() > 1)

# Sort for easier inspection
grouped_sorted = grouped.sort_values(by=['family_name_lower_wo_space', 'given_name_lower_wo_space'])

grouped_sorted.to_csv('authors_grouped_sorted.csv', index=False)

#pd.set_option('display.max_rows', None)

#grouped_sorted.head(50)
len(grouped_sorted) # 1331 authors with the same family name but different given names

1331

In [104]:
df_authors['name'].nunique() # 4369 unique names

4369

It is important to note that I am not able to detect possible name changes due to marriage or divorce, since this would need an immense amount of individual investigation time. This would often apply to female scientists.

Now, the names that are different due to several ways of abbreviating or missspellings, are standardized based on visual inspection and manual checking of the publications. If a full given name is available in the data, it is used to replace the abbreviated version. If no full given name is available, the abbreviated version is used. This is done to avoid the loss of information. No further justification for keeping a name is given if found to be correct.

In [105]:
# Dictionary where keys are standardized names and values are lists of names to be replaced
names_dict = {
    'adamy_juergen': ['adamy_j'],
    'adeli_hojjat': ['adeli_h'],
    'aertsen_ad': ['aertsen_a'],
    'aihara_kazuyuki': ['aihara_k'],
    'alexandrov_alexandars' : ['alexandrov_as'],
    'amari_shunichi': ['amari_s', 'amari_si'],
    'anastasio_thomasj': ['anastasio_tj'],
    'arbib_michaela': ['arbib_ma'],
    'ascoli_giorgioa': ['ascoli_ga'],
    'avery_michaelc': ['avery_michael'],
    'bapi_rajus': ['bapi_rs'],
    'barbieri_riccardo': ['barbieri_r'],
    'bartol_thomasm': ['bartol_t'],
    'beni_majiddavoody': ['beni_majidd'],
    'best_janet': ['best_j'],
    'billard_audeg': ['billard_a'],
    'blackwell_kimt': ['blackwell_kt'],
    'borisyuk_roman': ['borisyuk_r'],
    'bottemanne_hugo': ['bottemanne_h'],
    'bower_jamesm': ['bower_jm'],
    'bressler_stevenl': ['bressler_steven'],
    'brown_emeryn': ['brown_en'],
    'brzychczy_stanislaw': ['brzychczy_s'],
    'buckley_christopherl': ['buckley_cl'],
    'cangelosi_angelo': ['cangelosi_a'],
    'cannon_robertc': ['cannon_r', 'cannon_rc, cannon_robert'],
    'carnevale_nicholast': ['carnevale_nt'],
    'cessac_bruno.': ['cessac_b'],
    'chatzikonstantis_georgios.': ['chatzikonstantis_g'],
    'cheniaux_elie.': ['cheniaux_e'],
    'choi_charlestm.': ['choi_ctm'],
    'cleland_thomasa.': ['cleland_ta'],
    'cocks_bernie.': ['cocks_b'],
    'cofre_rodrigo.': ['cofre_r'],
    'coombes_stephen.': ['coombes_s'],
    'cornelis_hugo.': ['cornelis_h'],
    'costa_lucianodaf.': ['costa_ld'],
    'cox_davidd.': ['cox_david'],
    'crook_sharonm.': ['crook_sharon'],
    'd\'angelo_egidio.': ['d\'angelo_e'],
    'dagher_alain.': ['dagher_a'],
    'dahal_nabaraj.': ['dahal_n'],
    'dasari_nagam': ['dasari_n', 'dasari_naga'],
    'daskalova_mariyas.': ['daskalova_m', 'daskalova_mariya', 'daskalova_ms'],
    'davison_andrewp': ['davison_ap'],
    'deco_gustavo': ['deco_g'],
    'dehaan_willem.': ['dehaan_w'],
    'destexhe_alain': ['destexhe_a'],
    'dezeeuw_chris': ['dezeeuw_c'],
    'diesmann_markus': ['diesmann_m'],
    'dillmann_ruediger': ['dillmann_rudiger'],
    'dinkelbach_helgeuelo': ['dinkelbach_helgesue', 'dinkelbach_helgeulo'],
    'dolan_raymondj': ['dolan_rj'],
    'drakopoulos_georgios': ['drakopoulos_georgtos'],
    'driesen_naomir': ['driesen_naomi'],
    'ekeberg_orjan': ['ekeberg_o'],
    'eppler_jochenmartin': ['eppler_jochen', 'eppler_jochenm'],
    'erdi_peter': ['erdi_p'],
    'espinosaramos_josafathi': ['espinosaramos_josafath'],
    'fabietti_marcosi': ['fabietti_marcos'],
    'fairhall_adriennel': ['fairhall_adrienne'],
    'feng_jianfeng': ['feng_jf'],
    'fletcher_paulc': ['fletcher_paul'],
    'friston_karlj': ['friston_karl', 'friston_kj'],
    'frith_chrisd': ['frith_chris'],
    'furber_steveb': ['furber_steve'],
    'gauld_christophe': ['gauld_c'],
    'geminiani_alice': ['geminiani_a'],
    'gerstner_wulfram': ['gerstner_w'],
    'gewaltig_marcoliver': ['gewaltig_mo'],
    'girard_benoit': ['girard_b'],
    'giugliano_michele': ['giugliano_m'],
    'gomi_hiroaki': ['gomi_h'],
    'grayroncal_williamr': ['grayroncal_william'],
    'guntu_vsk': ['guntu_vinay'],
    'gurney_kevinn': ['gurney_k', 'gurney_kevin'],
    'gutierrez_carlosenrique': ['gutierrez_carlos'],
    'hamker_fredh': ['hamker_fh'],
    'hasani_raminm': ['hasani_ramin'],
    'hasselmo_michaele': ['hasselmo_me'],
    'heckman_charlesjj': ['heckman_cj'],
    'heinke_dietmar': ['heinke_d'],
    'hines_michaell': ['hines_michael', 'hines_ml'],
    'hopkins_michaelw': ['hopkins_michael'],
    'howell_fredrickw': ['howell_f'],
    'huys_quentinjm': ['huys_qjm'],
    'jin_rong': ['jin_r'],
    'jirsa_viktork': ['jirsa_viktor'],
    'jolivet_renaudb': ['jolivet_renaud'],
    'kawato_mitsuo': ['kawato_m'],
    'kay_kendrickn': ['kay_kendrick'],
    'king_jamesgonzalo': ['king_jamesg'],
    'kohn_andrefabio': ['kohn_andre', 'kohn_andref'],
    'kording_konradp': ['kording_k'],
    'krichmar_jeffreyl': ['krichmar_jl'],
    'kringelbach_mortenll': ['kringelbach_mortenl'],
    'krustev_stefan': ['krustev_sm'],
    'krystal_johnh': ['krystal_john'],
    'kunkel_susanne': ['kunkel_s'],
    'lai_weidian': ['lai_wd'],
    'lankarany_milad': ['lankarany_m'],
    'lansner_anders': ['lansner_a'],
    'levin_michael': ['levin_m'],
    'lin_kevink': ['lin_kk'],
    'linster_christiane': ['linster_c'],
    'lomakina_ekaterinai': ['lomakina_ekaterina'],
    'maass_wolfgang': ['maass_w'],
    'madureira_danieleqm': ['madureira_dqm'],
    'marenco_luis': ['marenco_l'],
    'mcginnity_tmartin': ['mcginnity_tm'],
    'mcintosh_anthonyrandal': ['mcintosh_anthonyr'],
    'migliore_michele': ['migliore_m'],
    'miller_johnp': ['miller_jp'],
    'mladenov_mitko': ['mladenov_m'],
    'morie_takashi': ['morie_t'],
    'morrison_abigail': ['morrison_a'],
    'morse_thomasm': ['morse_t', 'morse_tm'],
    'moutoussis_michael': ['moutoussis_m'],
    'movellan_jr': ['movellan_j'],
    'mukherjee_pratik': ['mukherjee_p'],
    'murray_johnd': ['murray_john'],
    'nageswaran_jayrammoorkanikara': ['nageswaran_jayramm'],
    'nair_satishs': ['nair_ss'],
    'nandagopal_d(nanda)': ['nandagopal_d', 'nandagopal_nanda(d)'],
    'nawrot_martinpaul': ['nawrot_martinp'],
    'neftci_emreo': ['neftci_emre'],
    'negrello_mario': ['negrello_m'],
    'nijhout_hfrederik': ['nijhout_hf'],
    'noelle_davidc': ['noelle_d', 'noelle_dc'],
    'olds_jamesleland': ['olds_jl'],
    'oweiss_karimg': ['oweiss_k', 'oweiss_karim'],
    'parisi_domenico': ['parisi_d'],
    'patel_mainakj': ['patel_mainak'],
    'pearce_tc': ['pearce_t'],
    'pedrocchi_alessandra': ['pedrocchi_a'],
    'pedroni_brunou': ['pedroni_bruno'],
    'pezzulo_giovanni': ['pezzulo_g'],
    'pfister_jeanpascal': ['pfister_jp'],
    'phillips_joshual': ['phillips_jl', 'phillips_joshua'],
    'pillow_jonathanw': ['pillow_jonathan'],
    'poggio_tomasoa': ['poggio_tomaso'],
    'ponce_seanr': ['ponce_sean'],
    'poznanski_romanr': ['poznanski_rr'],
    'principe_josec': ['principe_jc'],
    'rajendran_arathig': ['rajendran_arathi'],
    'ramasamy_vijayalaxmi': ['ramasamy_vijayalakshmi'],
    'rangan_aadityav': ['rangan_aaditya'],
    'read_jennyca': ['read_jca'],
    'reed_michaelc': ['reed_m'],
    'richmond_paul': ['richmond_p'],
    'riesenhuber_maximilian': ['riesenhuber_m'],
    'rolls_edmundt': ['rolls_et'],
    'roque_antonioc': ['roque_cantonio'],
    'rosas_fernandoee': ['rosas_fernando'],
    'rougier_nicolasp': ['rougier_nicolas'],
    'rowley_andrewg': ['rowley_andrew'],
    'sanjuan_miguelaf': ['sanjuan_maf'],
    'santiago_robertoa': ['santiago_ra'],
    'saykin_andrewj': ['saykin_a', 'saykin_andrew'],
    'sboev_alexander': ['sboev_aleksandr'],
    'schyns_philippeg': ['schyns_pg'],
    'sejnowski_terrencej': ['sejnowski_t', 'sejnowski_terrence', 'sejnowski_tj'],
    'shadmehr_reza': ['shadmehr_r'],
    'sheabrown_eric': ['sheabrown_e'],
    'shen_li': ['shen_l'],
    'shepherd_gordonmg': ['shepherd_gm', 'shepherd_gordonm'],
    'sidiropoulos_harry': ['sidiropoulos_h'],
    'singh_nandinichatterjee': ['singh_nc'],
    'skinner_francesk': ['skinner_frances'],
    'smaragdos_georgios': ['smaragdos_g', 'smaragdos_george'],
    'soltesz_ivan': ['soltesz_i'],
    'sommeijer_bp': ['sommeijer_b'],
    'soudris_dimitrios': ['soudris_dj'],
    'stephan_klaasenno': ['stephan_klaase'],
    'stephanova_dianai': ['stephanova_di', 'stephanova_diana'],
    'stiles_joelr': ['stiles_j'],
    'strydis_christos': ['strydis_c'],
    'suhail_yasir': ['suhail_y'],
    'surace_simonecarloj': ['surace_simonecarlo'],
    'szczecinski_nicholass': ['szczecinski_nicholas'],
    'tapson_jonathan': ['tapson_j'],
    'taylor_briank': ['taylor_brian'],
    'tegner_jespern': ['tegner_jesper'],
    'thagard_paul': ['thagard_p'],
    'thakur_chetansingh': ['thakur_chetans'],
    'thoroughman_kurtaa': ['thoroughman_ka'],
    'truccolo_wilson': ['truccolo_wa'],
    'usui_shiro': ['usui_s'],
    'valiant_leslieg': ['valiant_lg'],
    'vanalbada_sachaj': ['vanalbada_sacha', 'vanalbada_sj'],
    'vangerven_marcelaj': ['vangerven_marcel'],
    'vanschaik_andre': ['vanschaik_a'],
    'verschure_pfmj': ['verschure_p', 'verschure_paul'],
    'vijayalakshmi_ramasamy': ['vijayalakshmi_r'],
    'villa_alessandroep': ['villa_aep'],
    'voutsas_kyriakos': ['voutsas_k'],
    'wang_runchunm': ['wang_runchun'],
    'wendling_fabrice': ['wendling_f'],
    'west_john': ['west_j'],
    'wester_brocka': ['wester_brock'],
    'yang_genevievej': ['yang_genevieve'],
    'yilmaz_ozgur': ['yilmaz_ozgor']
}

In [106]:
# Loop through the dictionary to standardize names
for correct_name, names_to_replace in names_dict.items():
    df_authors.loc[df_authors['name'].isin(names_to_replace), 'name'] = correct_name

In [107]:
df_authors['name'].nunique() # 4161 unique names

4161

In [108]:
df_authors.to_csv('cn_authors_clean.csv', index=False)